<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My App</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	
	<div class="container-fluid">
		<!-- <a class="btn btn-primary" href="{{login_url}}">Login</a> -->
		<a class="btn btn-danger" href="{{logout_url}}">Logout</a>

		<h2>Token response</h2>
		<pre>{{token_response | jsonify}}</pre>

		<h2>Decoded access_token claims</h2>
		<pre>{{decoded_access_token | jsonify}}</pre>

		<h2>Decoded id_token claims</h2>
		<pre>{{decoded_id_token | jsonify}}</pre>
	</div>

</body>
</html>
